{% extends "template.html" %}
{% block conteudo %}
    <form method="POST" action="{{ url_for('autenticar') }}">
        <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
        {{ form.csrf_token() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.senha.label(class="form-label") }}
            {{ form.senha(class="form-control") }}
        </div>
        {{ form.login(class="btn btn-primary") }}
    </form>
{% endblock %}